* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 500px;
  margin: 1rem;
  border: 1px solid rgb(0 0 0/10%);
  padding: 1rem;
  background-color: #555;
  color: #ffff;
}

h1 {
  margin: 0.5rem;
}

form {
  background-color: #ddd;
  color: #111;
}

input,
textarea,
select {
  padding: 0.75rem;
  width: 350px;
}

button {
  background-color: navy;
  padding: 1rem;
  color: #fff;
  margin: 0 auto;
  display: block;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 30px #eee;
}

button:hover {
  background-color: darkgreen;
}

code {
  display: block;
  background-color: #000;
  color: #fff;
}

.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0/10%);
  padding: 1rem;
}

.quiz-item {
  border: none;
}
